Sample POC for New Swift Language

* UITableview

* Custom UITableviewcell

* Dictionary and Array

* Prepareforsegue

* Pass object to destinationViewController

* UIImageView load remote image

* NSData / NSUrl